* { box-sizing: border-box; }

body {
  font-family: system-ui, sans-serif;
  background: #000000;
  color: white;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-top: 50px;
  width: 85%;
  position: fixed;
  z-index: 10;
}

#home {
  width: 85%;
}

#dayName {
  font-size: 48px;
  margin: 0;
  line-height: 1;
}

#dayDate {
  background: #8AA8DF;
  color: #fff;
  border-radius: 50px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 65px;
  height: 25px;
  font-weight: bold;
  padding: 0 10px; /* para que se adapte al texto */
  margin-bottom: 4px; /* opcional, si quieres alinearlo visualmente mejor */
}

.days {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 150px;
  margin-bottom: 200px;
}

.day {
  background: #040404;
  border-radius: 30px;
  border: #121212 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 24px;
  font-weight: bold;
  color: #A9A9A9;
}

.day:hover {
  background: #2a2a2a;
}

.day span {
  background: transparent;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  font-size: 48px;
}

#summary {
  display: flex;
  align-items: flex-end; /* Alinea h2 y botón abajo */
  justify-content: space-between; /* Espacio entre los dos elementos */
  gap: 12px;
  position: fixed;
  bottom: 30px;
  width: 85%;
  z-index: 10;
}

#summary h2 {
  margin: 0;
  font-size: 48px;
  color: #8ca9ff;
  line-height: 1;
}

#reset {
  background: none;
  border: none;
  color: #A9A9A9;
  cursor: pointer;
  text-decoration: underline;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

/* FORM OVERLAY */
#formOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.75);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  backdrop-filter: blur(30px);
}

#formOverlay.active {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 45px;
  text-align: center;
  align-items: center;
}

.form h2 {
  font-size: 1.4rem;
  color: #ccc;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  gap: 6px;
  color: #ccc;
  font-weight: bold;
} 

input[type="time"], input[type="number"] {
  font-size: 65px;
  padding: 6px;
  text-align: center;
  align-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background: transparent;
  color: white;
  max-width: 100%;
  margin: 0 20px 0 20px;
}

#confirm {
  width: 183px;
  height: 63px;
  background-color: rgba(0, 0, 0, 0.66);
  border: 1px solid #121212;
  border-radius: 50px;
  position: fixed;
  bottom: 50px;
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.35rem;
  color: #E6E6E6;
  text-align: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: filter 0.5s ease-in-out;
}

#closeForm {
  position: fixed;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  color: #A9A9A9;
}


/* Gradient blur effect */

/* GRADIENT BLUR SUPERIOR */
.gradient-blur-top {
  position: fixed;
  z-index: 5;
  inset: 0 0 auto 0;
  height: 25%;
  pointer-events: none;
}
.gradient-blur-top > div,
.gradient-blur-top::before,
.gradient-blur-top::after {
  position: absolute;
  inset: 0;
}
.gradient-blur-top::before {
  content: "";
  z-index: 1;
  backdrop-filter: blur(0.5px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0) 37.5%
  );
}
.gradient-blur-top > div:nth-of-type(1) {
  z-index: 2;
  backdrop-filter: blur(1px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 0) 50%
  );
}
.gradient-blur-top > div:nth-of-type(2) {
  z-index: 3;
  backdrop-filter: blur(2px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 62.5%
  );
}
.gradient-blur-top > div:nth-of-type(3) {
  z-index: 4;
  backdrop-filter: blur(4px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 0) 75%
  );
}
.gradient-blur-top > div:nth-of-type(4) {
  z-index: 5;
  backdrop-filter: blur(8px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0) 87.5%
  );
}
.gradient-blur-top > div:nth-of-type(5) {
  z-index: 6;
  backdrop-filter: blur(16px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}
.gradient-blur-top > div:nth-of-type(6) {
  z-index: 7;
  backdrop-filter: blur(32px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
}
.gradient-blur-top::after {
  content: "";
  z-index: 8;
  backdrop-filter: blur(64px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
}



.gradient-blur {
  position: fixed;
  z-index: 5;
  inset: auto 0 0 0;
  height: 25%;
  pointer-events: none;
}
.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
  position: absolute;
  inset: 0;
}
.gradient-blur::before {
  content: "";
  z-index: 1;
  backdrop-filter: blur(0.5px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0) 37.5%
  );
}
.gradient-blur > div:nth-of-type(1) {
  z-index: 2;
  backdrop-filter: blur(1px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 0) 50%
  );
}
.gradient-blur > div:nth-of-type(2) {
  z-index: 3;
  backdrop-filter: blur(2px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 62.5%
  );
}
.gradient-blur > div:nth-of-type(3) {
  z-index: 4;
  backdrop-filter: blur(4px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 0) 75%
  );
}
.gradient-blur > div:nth-of-type(4) {
  z-index: 5;
  backdrop-filter: blur(8px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0) 87.5%
  );
}
.gradient-blur > div:nth-of-type(5) {
  z-index: 6;
  backdrop-filter: blur(16px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}
.gradient-blur > div:nth-of-type(6) {
  z-index: 7;
  backdrop-filter: blur(32px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
}
.gradient-blur::after {
  content: "";
  z-index: 8;
  backdrop-filter: blur(64px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
}
